<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
      <connectionManagement>
        <add address="*" maxconnection="10000" />
      </connectionManagement>
    </system.net>
    <system.webServer>
        <handlers>
            <add name="blockinghandler" path="blocking" verb="*" type="nodetest.BlockingHandler" resourceType="Unspecified" preCondition="integratedMode" />
            <add name="non-blockinghandler" path="non-blocking" verb="*" type="nodetest.NonBlockingHandler" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
</configuration>
